body{
  font-family: Montserrat;
}
#title{
  background-color: #f3f9fb;
}

.container-fluid {
  padding: 3% 30% 7%;
}
.header{
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 20% 15%;
  text-align: center;
}
.container{
  padding-top: 30%
}
.navbar{
  padding-bottom: 4.5rem;

}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 10px;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 90%;
  position: relative;

}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: Relative;

}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
font-family: 'Russo One', sans-serif;
}
h2{
  font-family: 'Montserrat';
}

p{
  color: #8f8f8f;
}
.icon{
  color: #3b6978;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #8f8f8f;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #3b6978;
  color: #fff;
}
.apat{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3rem;
  height: 1.5;
}
.Testimony-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
  background-color:#3b6978;
  padding-bottom: 3%;
  text-align: center;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
.card{
  text-align: center;
}
#pricing{
  padding: 100px;
}
.pricing-column{
  padding: 3% 2%;
}
.price-top{
  text-align: center;
}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
  }
}
#cta{
  background-color: #3b6978;
  text-align: center;
  padding : 7% 15%;
  color: #fff;
}
.lop{
  font-size: 3.5rem;
  height: 1.5;
}

#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icons{
  margin: 10px 10px
}
